.kanban {
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 100%;
  min-width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}

.spinner {
  display: flex;
}

.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}

.div-titulo {
  font-size: 30px;
  margin-left: 90px;
  font-weight: 700;
  color: #454040;
  margin-top: 40px;
  text-align: center;
  margin-bottom: 30px

}

.spinner-container {
  display: flex;
  margin-top: 100px;
}

app-task-card {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

h2 {
  font-weight: 900;
  text-align: center;
}

.div-filtros {
  display: flex;
  margin-left: 20px;
  margin-right: 100px;
  justify-content: end;
  gap: 30px;
}
