.flex-inline {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 20px;
}

.w-100 {
  width: 100%;
}

.btn-salvar {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.gap-2 {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.mt-16 {
    margin-top: 16px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

p-tag {
    cursor: pointer;
}

.tags-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 8px;
}