.kanban {
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 100%;
  min-width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container {
  width: 80%;
  overflow-x: hidden;
  margin: 0 auto;
  margin-top: 20px;
}

.kanban-board {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 20px;
  padding: 16px;
  flex-direction: row;
  justify-content: space-evenly;
}

.spinner {
  display: flex;
}

.spinner-container {
  display: flex;
  margin-top: 100px;
}

app-task-card {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

h2 {
  font-weight: 900;
  text-align: center;
}

.div-filtros {
  display: flex;
  margin-left: 20px;
  margin-right: 100px;
  justify-content: end;
  gap: 30px;
  align-items: center;
}

.mt-40 {
  margin-top: 40px;
}
