@if (loading()) {
  <div class="spinner-container">
    <p-progress-spinner ariaLabel="loading" />
  </div>
}

@if (!loading()) {
  <div class="div-filtros">
    <p-button label="Nova task" icon="pi pi-plus" (onClick)="openDrawerTask('Nova task')" />
    <app-urgent-tasks-badge />
  </div>

  <div class="div-filtros mt-40">
    <app-filters />
  </div>

  <div class="container">
      <div class="kanban-board">
        <app-column-kanban
          titulo="A Fazer"
          status="a-fazer"
          [lista]="todo()"
          [statusList]="['em-andamento', 'concluido']"
          (taskMoviment)="onTaskMoviment($event)"
          (taskEdit)="onTaskToEdit($event)"
        />

        <app-column-kanban
          titulo="Em Andamento"
          status="em-andamento"
          [lista]="inProgress()"
          [statusList]="['a-fazer', 'concluido']"
          (taskMoviment)="onTaskMoviment($event)"
          (taskEdit)="onTaskToEdit($event)"
        />

        <app-column-kanban
          titulo="Concluído"
          status="concluido"
          [lista]="done()"
          [statusList]="['a-fazer', 'em-andamento']"
          (taskMoviment)="onTaskMoviment($event)"
          (taskEdit)="onTaskToEdit($event)"
        />
      </div>
  </div>
}

<p-drawer
  [header]="titleDrawer"
  [(visible)]="openDrawer"
  position="right"
  [style]="{ width: '30rem' }"
>
  @if (openDrawer) {
    <app-form-tasks (closeDrawer)="openDrawerTask()" [taskSelecionada]="taskSelecionada" />
  }
</p-drawer>
