.lista {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

p-card {
  cursor: move;
  height: 205px;
  display: flex;
  flex-direction: column;
}

p-card .p-card-body {
  overflow: hidden;
}

.descricao {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.p-chip {
  color: #ffffff !important;
  font-size: 16px !important;
}

.titulo-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.content-chip-mais-acoes {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popover {
  font-family: 'Source Sans 3', sans-serif !important;
  cursor: pointer;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.tags {
  color: #575650 !important;
  font-size: 12px !important;
  gap: 10px;
  display: flex;
  margin-top: 7px;
}

.card-media {
  background: #b6e4fb !important;
}

.card-baixa {
  background: #c2ffc1 !important;
}

.card-alta {
  background: #fffea5 !important;
}

.card-urgente {
  background: #ff7575 !important;
}
