@for (task of lista; track task.id) {
  <p-card
    cdkDrag
    [ngClass]="{
      'card-urgente': task.prioridade === 'urgente',
      'card-media': task.prioridade === 'media',
      'card-alta': task.prioridade === 'alta',
      'card-baixa': task.prioridade === 'baixa',
    }"
  >
    <ng-template pTemplate="title" class="titulo-card">
      <div class="titulo-card">
        <span>{{ task?.titulo }}</span>

        <div class="content-chip-mais-acoes">
          <p-tag [value]="getPrioridade(task.prioridade)" severity="info" [rounded]="true" />
          <i
            class="pi pi-ellipsis-v"
            style="font-size: 1rem; cursor: pointer"
            (click)="op.toggle($event)"
          ></i>
        </div>
      </div>

      <p-popover #op>
        <div class="flex flex-col gap-4 popover">
          <div (click)="edit(task)">Editar</div>
          <div (click)="remove(task.id, $event)">Remover</div>
          @if (task?.status != 'concluido') {
            <div (click)="moveToDone(task)">Mover para concluído</div>
          }
        </div>
      </p-popover>
    </ng-template>

    @if (task?.descricao) {
      <p class="descricao">{{ task?.descricao }}</p>
    }

    @if (task?.prazo) {
      <small>Prazo: {{ task?.prazo | date }}</small>
    }

    <div class="tags">
      @for (tag of task.tags; track tag) {
        <p-chip [label]="tag" class="tags" />
      }
    </div>
  </p-card>
}

@if (openModalConfirmation()) {
  <app-modal-confirmation
    [conteudoModal]="conteudoModal"
    (actionReceived)="actionReceived($event)"
  ></app-modal-confirmation>
}
